@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
  -webkit-text-stroke: 1px black;
}
.text-stroke-1 {
  -webkit-text-stroke: 1px #5e2e53;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
